---
import Container from "../../shared/Container.astro";
import Title2 from "../../shared/Title2.astro";
import ServiceCopyTextCard from "./components/ServiceCopyTextCard.astro";
import { servicesSectionData } from "./data";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section id="services" class=`${className} w-full mb-10 flex flex-row justify-center`>
  <Container size="wide">
    <div class="flex flex-col text-center  items-center justify-center mt-16 bg-white rounded-lg overflow-hidden dark:bg-[#000000b0]">
      <ServiceCopyTextCard
        className="md:col-span-2 flex flex-col"
        subheading={servicesSectionData.subheading}
      />
    </div>
  </Container>
</section>
