---
import Container from "../../shared/Container.astro";
import GradiantText from "../../shared/GradiantText.astro";
import SubTitle2 from "../../shared/SubTitle2.astro";
import Title2 from "../../shared/Title2.astro";
// import LogoPatrocinador from "./components/logoPatrocinador.astro";
import { testimonialsSection } from "./data";

import Carrusel from "./components/carrusel"
import "./components/carrusel.css"
export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section id="testimonials" class=`${className} `>
  <Container
    className="mx-auto flex flex-col items-center justify-center text-center"
  >
    <!-- <Title2>{testimonialsSection.title}</Title2> -->
    <SubTitle2 className="text-white">
      <GradiantText> {testimonialsSection.subheading1_1}</GradiantText><br />
      {testimonialsSection.subheading1_2}
    </SubTitle2>
  </Container>
  <section>
    <Carrusel client:visible />
  </section>
</section>
