---
import unamadImg from "./assets/vista-unamad.webp";
import amazonia from "./assets/amazonia.webp"
import CtaButton from "../../shared/CtaButton.astro";
import GradiantText from "../../shared/GradiantText.astro";
import SubTitle from "../../shared/SubTitle.astro";
import Title from "../../shared/Title.astro";
import LazyImage from "../../shared/LazyImage.astro";

const heroSection = {
  headline1: "Congreso",
  headline2: "Tecnología,",
  headline3: "Segura",
  headline4: "Para el Mañana!",
  subheading1: "participa en el 2do congreso",
  subheading2: "en la Unamad donde todos",
  subheading3: "podemos creer.",
  buttonText: "inscribete!",
  backgroundImage: "hero-background-image.jpg",
};

export interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<section class=`relative  ${className} w-full` id="hero">
  <div class="w-full pt-[100px]">
    <div
      class="w-full h-full grid grid-cols-1 md:grid-cols-2 justify-end bg-base-100 dark:bg-base-dark-900"
    >
      <div class="justify-center flex flex-col text-center md:ml-auto overflow-visible ">
        <Title className="">
          <GradiantText>
            III
          </GradiantText>
          Congreso Internacional
          <GradiantText>
            Amazónico
          </GradiantText>
          de la 
          <GradiantText>
            Tecnología e Informática
          </GradiantText>
        </Title>
        <SubTitle className=" mt-10 leading-9 italic">
          Puede participar estudiantes, profesores
          <br />
          personas interesadas
        </SubTitle>
        <div class="pt-6 pb-4">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLScI6ed6wAelZQdTrL3-JxyF6L1sge7n1s-kOp6ZTLPHQVgaOQ/viewform" target="__black">
            <CtaButton>{heroSection.buttonText}</CtaButton>
          </a>
        </div>
      </div>
      <div class="flex relative overflow-hidden pt-10 md:p-0">
        <LazyImage
          src={unamadImg}
          alt="A picture of a wind turbine."
          className="w-full h-full object-cover"
        />
        <svg
          class="fill-base-100 dark:fill-base-dark-900 z-10 absolute top-0 start-0 h-full hidden md:block"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 500 400"
        >
          <path d="M0 0l0 400L100 0Z"> </path>
        </svg>
      </div>
    </div>
  </div>
</section>
