---
import CustomerTestimonials from "../components/sections/testimonials/CustomerTestimonials.astro";
import EnvironmentalImpact from "../components/sections/environment/EnvironmentalImpact.astro";
import KeyServices from "../components/sections/services/KeyServices.astro";
import { TimeLine } from "../components/sections/timeLine/TimeLine"
import Layout from "../layouts/Layout.astro";
import { CardsPonentes } from "../components/sections/featured/CardsPonentes";
import { Presentacion } from "../components/sections/presentacion/Presentacion";


const navItems = [
  {
    href: "#",
    text: "Inicio",
  },
  // {
  //   href: "#services",
  //   text: "Objetivo",
  // },
  {
    href: "#projects",
    text: "Expositores",
  },
  {
    href: "#LineaDeTiempo",
    text: "Cronograma",
  },
  // {
  //   href: "#environment",
  //   text: "Sobre Nosotros",
  // },
  {
    href: "#testimonials",
    text: "Patrocinadores",
  },
  {
    href: "/hotel",
    text: "Hospedajes",
  },
  {
    href: "/taller",
    text: "Talleres",
  }
];

---

<Layout navItems={navItems} title="Congreso UNAMAD 2024">
  <main class="grid gap-0">

    <Presentacion client:load />
    <!-- PRESENTACIÓN -->
    
    <!-- <EnvironmentalImpact /> -->
    
    <!-- OBJETIVOS -->
    <!-- <KeyServices /> -->
    
    <CardsPonentes client:visible/>

    <TimeLine client:visible/>
    <CustomerTestimonials />
    
  </main>
</Layout>
