---
import CustomerTestimonials from "../components/sections/testimonials/CustomerTestimonials.astro";
import EnvironmentalImpact from "../components/sections/environment/EnvironmentalImpact.astro";
import FeaturedProjects from "../components/sections/featured/PonenteCard.astro";
import GetInvolved from "../components/sections/cta/GetInvolved.astro";
import Hero from "../components/sections/hero/Hero.astro";
import KeyServices from "../components/sections/services/KeyServices.astro";
import LatestInnovations from "../components/sections/innovations/LatestInnovations.astro";
import { TimeLine } from "../components/sections/timeLine/TimeLine"
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to the Agency template ">
  <main class="flex flex-col gap-y-20 md:gap-y-40 overflow-hidden">
    <!-- Hero Section: -->
    <!-- High-quality image or animation of renewable energy sources. -->
    <!-- Headline and subheading centered on the page. -->
    <Hero />

    <!-- GRID - CARDS INFO (no relevante) -->
    <!-- <KeyServices /> -->
    <!-- Key Services Overview: -->

    <!-- Latest Innovations: -->
    <!-- Highlight any recent advancements or innovations in your green energy solutions. -->
    <!-- Use images and concise descriptions to showcase your commitment to cutting-edge technology. -->
    <!-- Emphasize how staying with your company means staying at the forefront of green energy. -->
    <EnvironmentalImpact />
    <KeyServices />
    <FeaturedProjects />
    <CustomerTestimonials />
    <LatestInnovations />
    <!-- Customer Testimonials: -->
    <!-- Share testimonials from satisfied customers. -->
    <!-- Include photos, names, and brief quotes to build trust. -->
    <!-- Place a call-to-action to encourage users to explore more customer stories. -->
    <!-- Environmental Impact: -->
    <!-- Showcase the positive impact users can make by choosing your services. -->
    <!-- Use statistics, infographics, or visuals to illustrate the environmental benefits. -->
    <!-- Emphasize the role your company plays in promoting sustainability. -->

    <!-- CARD PONENTES -->


    <TimeLine client:visible/>
    
    <!-- OPCIONES CARDS FINALES  -->
    <GetInvolved />
    
  </main>
</Layout>
